{
        "name":"LED Colortemperature",
        "device_id":"MyID",
        "wifi":{"ssid":"MySSID", "password":"T0pS3cr3t!"},
        "mqtt":{"host":"mymqtt-broker","port":1883,"base_topic":"homie/","auth":false},
        "ota":{"enabled":true},
        "settings":{
                "loglevel": "DEBUG",
                "CTLicht_PWM_FREQ": 20000
        } 
}


