{
        "name":"LED Colortemperature",
        "device_id":"MyID",
        "wifi":{"ssid":"MySSID", "password":"T0pS3cr3t!"},
        "mqtt":{"host":"mymqtt-broker","port":1883,"base_topic":"homie/","auth":false},
        "ota":{"enabled":true},
        "settings":{
                "loglevel": "DEBUG",
                "CTLicht1_PIN_WW": 15,
                "CTLicht1_PIN_CW": 13,
                "CTLicht2_PIN_WW": 12,
                "CTLicht2_PIN_CW": 14,
                "CTLicht_PWM_FREQ": 8000
        } 
}


